In [2]:
from pathlib import Path

import pandas as pd

In [5]:
# paths to common data locations - NOTE: to convert any path to a raw string, simply use str(path_instance)
dir_prj = Path.cwd().parent
dir_data = dir_prj/'data'
dir_raw = dir_data/'raw'
pqt_pth = list(dir_raw.glob('*.csv'))[0]

pqt_pth

WindowsPath('D:/projects/foursquare-geoenrichment-loading/data/raw/foursquare_esri_ge_schema.csv')

In [7]:
df = pd.read_csv(pqt_pth)

df

,field_name,field_type,field_precision,field_scale,field_length,field_alias,field_is_nullable,field_is_required,field_domain
0,fsq_id,String,0,0,24,fsq_id,True,False,NaN
1,esri_pid,String,0,0,32,esri_pid,True,False,NaN
2,category_icons,String,0,0,4,category_icons,True,False,NaN
3,name,String,0,0,277,name,True,False,NaN
4,name_translated,String,0,0,499,name_translated,True,False,NaN
5,geocodes,String,0,0,281,geocodes,True,False,NaN
6,address,String,0,0,406,address,True,False,NaN
7,address_extended,String,0,0,225,address_extended,True,False,NaN
8,locality,String,0,0,92,locality,True,False,NaN
9,census_block_id,String,0,0,15,census_block_id,True,False,NaN
10,dma,String,0,0,37,dma,True,False,NaN
11,region,String,0,0,73,region,True,False,NaN
12,postcode,String,0,0,16,postcode,True,False,NaN
13,country,String,0,0,2,country,True,False,NaN
14,admin_region,String,0,0,41,admin_region,True,False,NaN
15,post_town,String,0,0,65,post_town,True,False,NaN
16,neighborhood,String,0,0,155,neighborhood,True,False,NaN
17,po_box,String,0,0,499,po_box,True,False,NaN
18,date_created,String,0,0,10,date_created,True,False,NaN
19,date_refreshed,String,0,0,10,date_refreshed,True,False,NaN
20,fsq_category,String,0,0,29,fsq_category,True,False,NaN
21,fsq_chain_id,String,0,0,332,fsq_chain_id,True,False,NaN
22,fsq_chain_name,String,0,0,119,fsq_chain_name,True,False,NaN
23,parent_id,String,0,0,24,parent_id,True,False,NaN
24,parent_esri_pid,String,0,0,32,parent_esri_pid,True,False,NaN
25,naics,String,0,0,27,naics,True,False,NaN
26,source,String,0,0,10,source,True,False,NaN
27,open_confidence,String,0,0,6,open_confidence,True,False,NaN
28,hours,String,0,0,1465,hours,True,False,NaN
29,hours_popular,String,0,0,717,hours_popular,True,False,NaN
30,telephone,String,0,0,29,telephone,True,False,NaN
31,website,String,0,0,500,website,True,False,NaN
32,price,String,0,0,13,price,True,False,NaN
33,hours_display,String,0,0,560,hours_display,True,False,NaN
34,fax,String,0,0,29,fax,True,False,NaN
35,email,String,0,0,80,email,True,False,NaN
36,facebook_id,String,0,0,19,facebook_id,True,False,NaN
37,instagram,String,0,0,30,instagram,True,False,NaN
38,twitter,String,0,0,172,twitter,True,False,NaN
39,description,String,0,0,498,description,True,False,NaN

In [9]:
df.field_length = df.field_length * .1 + df.field_length
df.field_length = df.field_length.round().astype('int64')

In [10]:
df.to_csv(pqt_pth, index=False)